# Arthematic Operations

### 1) x=10,y=20 add and multiply x,y

In [1]:
x=10
y=20
print(x+y)
print(x*y)

30
200

### 2) Power operation --> **

In [2]:
x=2
print(x**4)

16

### 3) Division (floating)--> /

In [4]:
x=20
print(x/7)

2.857142857142857

### 4) Division (int)--> //

In [6]:
x=20
print(x//7)

2

### 5) what is the result of 1+2** 3 / 4 *5

In [7]:
x=1+2**3/4*5
print(x)

11.0

## Relation operators

< -lessthan

<= --lessthan or equal

== --equals to

!= --not equals to

> -- greterthan

>= --greaterthan or equal

In [9]:
x=10
res=(x>15)
print(res)
res=(x<15)
print(res)

False
True

## Logical Operators

and

or

not

In [10]:
x=10
res=(x<15) and (x<54)
print(res)

True

In [11]:
x=10
res=(x<9) and (x<15)
print(res)

False

In [12]:
x=10
res=(x<9) or (x<15)
print(res)

True

In [17]:
x = True
res = not(x)
print(res)

False

In [18]:
x=False
res=not(x)
print(res)

True

In [1]:
print('hello')

hello

## If Condition:

if(condition)

In [2]:
x=10
if(x<15):
    print("The given number is lessthan 15")

The given number is lessthan 15

In [6]:
x=0
if(x>15):
    print("hello")

In [5]:
x=0
if(x>15):
    print("The given number is greaterthan 15")
else:
    print("The given number is lessthan 15")

The given number is lessthan 15

## Examples

#### 1) x and y is the input and we find the largest among the two

In [8]:
x=10
y=8
if(x>y):
    print("x is greater")
else:
    print("y is greater")

x is greater

#### 2) Take two numbes as inputs if both the numbers are same then square the number else multiply them

In [16]:
x=10
y=10
if(x==y):
    print(x**2)
else:
    print(x*y)

100

In [17]:
if(x==y):
    print(x**2)
else:
    print(x*y)

100

here x and y values are taken from about because they we have already assigned

In [18]:
x=10
x=6
if(x==y):
    print(x**2)
else:
    print(x*y)

60

#### 3) Read a number and look if the number is 0, +ve and -ve

In [21]:
x=int(input("enter a number\n"));
if(x==0):
    print("x is equal to 0")
elif(x>0):
    print("x is positive")
else:
    print("x is negative")

enter a number
-4
x is negative

## Loop Statements-- While

syntax :-   while(condition):

          loop statements
          
          increment or decrement

In [22]:
n=1
while(n<=10):
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

## Examples on loop

#### 5) print the numbers from -22 to -45

In [24]:
x=-45
while(x<=-22):
    print(x)
    x=x+1

-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22

#### 6) Print the sum of even numbers between 1 and 100

In [31]:
x=1
sum=0
while(x<=100):
    if(x%2==0):
        sum=sum+x
    x=x+1
print(sum)

2550

In [34]:
x=int(input("enter lower limit:\t"));
y=int(input("enter higher limit:\t"));
sum=0
while(x<=y):
    if(x%2==0):
        sum=sum+x
    x=x+1
print(sum)

enter lower limit:	1
enter higher limit:	100
2550

#### 7) input: number and output is a extract digits of the number from right direction

In [36]:
n=int(input("enter a number\n"));
while(n!=0):
    print(n%10)
    n=n//10

enter a number
145
5
4
1

#### 8) Palondrome

In [35]:
n=int(input("enter a number\n"));
b=0
sum=0
while(n!=0):
    b=n%10
    sum=sum*10+b
    n=n//10
print(sum)

enter a number
145
541

#### 9) Input is a number and output is you need to add the sum of even numbers in the input number

In [38]:
n=int(input("enter a number\n"));
sum=0
while(n!=0):
    b=n%10
    if(b%2==0):
        sum=sum+b
    n=n//10
print(sum)

enter a number
2563
8

#### 10) Input is a number and output is respective name to a digit

In [43]:
n=int(input("enter a number\n"));
while(n!=0):
    b=n%10
    if(b==0):
        print("zero",end=" ")
    elif(b==1):
        print("one",end=" ")
    elif(b==2):
        print("two",end=" ")
    elif(b==3):
        print("three",end=" ")
    elif(b==4):
        print("four",end=" ")
    elif(b==5):
        print("five",end=" ")
    elif(b==6):
        print("six",end=" ")
    elif(b==7):
        print("seven",end=" ")
    elif(b==8):
        print("eight",end=" ")
    elif(b==9):
        print("nine",end=" ")
    elif(b==10):
        print("ten",end=" ")
    n=n//10

enter a number
156
six five one

#### 11) Input : three numbers
####       output: how many time the digit is repeated between 2nd and 3rd number

In [5]:
x=int(input("enter first number\n"));
y=int(input("enter second number\n"));
z=int(input("enter thrid number\n"));
count=0

while(y+1<=z): 
    a=y+1
    while(a!=0):
        b=a%10
        if(b==x):
            count=count+1
        a=int(a/10);
        
    y=y+1
print("output= ",count)

enter first number
4
enter second number
40
enter thrid number
45
output=  6

## Functional Programming In Python

Functions can be used to perform the specific task in the programming

Function in python starts with def(keyword)

Syntax:

      def functionName(parameters):
           task

#### 1) Functional programming to print the n natural numbers

In [8]:
def printNaturalNumbers(n):
    cnt=1;
    while(cnt<=n):
        print(cnt,end=" ");
        cnt=cnt+1;
    print()
    return
printNaturalNumbers(9);
printNaturalNumbers(15);

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

#### 2) Find the factorial of a given number

In [9]:
def findfact(n):
    fact=1;
    while(n!=0):
        fact=fact*n;
        n=n-1;
    return fact;
print(findfact(5));
print(findfact(10));
print(findfact(15));

120
3628800
1307674368000

#### 3) Program to find count of palindromes between two limits

In [1]:
def palindromes(x,y):
    i=0
    while(x<=y):
        n=x;
        sum=0;
        while(n!=0):
            b=n%10;
            sum=sum*10+b;
            n=n//10;
        if(x==sum):
            i=i+1;      
        x=x+1;
    return i
print (palindromes(10,14))

1

In [ ]:
def palindrome(x,y):
    count=0
    for i range[x:y]
    x="x"
    a=len(x)-1
    str=s[x::-1]
    if(x=s):
        count=count+1;
    print(count);
palindrome(10,14)